@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body{
  background: url(background1.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 1100px;
  font-family: 'Open Sans', sans-serif;
}

.navbar-nav{
    margin-left: 10px;
}

.navbar-nav .nav-item{
    margin-left: 10px;
}

.link1, .link1:hover{
    color:white;
    text-decoration: none;
}

.carousel .carousel-item {
    height: 400px;
  }
  
.carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
}

#movies img{
  width: 100%;
  padding: 20px;
}

#movies :hover{
  transition: 0.2s ease;
  transform: scale(1.04);
  cursor: pointer;
}

@media(min-width:960px){
  #movies .col-md-3 .col-lg-3 .well{
    height: 390px;
    width: 50px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}

#movie img{
  width: 80%;
  height: 390px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.abc{
  color: white;
  text-align: center;
}

.btn-a{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* li:first-child{
  text-align: center;
} */

.disp1{
  margin-top: 20px;
  color: white;
  text-align: center;
}

.cap1, .cap2, .cap3{
  font-family: 'Alfa Slab One';
  letter-spacing: 1px;
  font-variant: small-caps;
  -webkit-text-stroke:0.6px #e65c00;
}

/* Footer CSS Starts here!!!!
!!!!! */



.footer_1 hr{
  float:left;
  margin-left: 5%;
  margin-right: 5%;
  height:1.5px;
  width:35%;
  background-color:whitesmoke;
}

.footer_text{
  margin-top: 5px;
  float: left;
  width:10%;
  text-align: center;
  color:whitesmoke; 
  font-weight: bold;
}

.TandC{
  margin-left: 3%;
  float:left;
  width:40%;
  color:whitesmoke;
  text-align: center;
  font-size: 13px;
}

.PP{
  transition: 1s;
  letter-spacing: 2px;
}

.TC{
  transition: 1s;
  letter-spacing: 2px;
}

.ABOUT{
  transition: 1s;
  letter-spacing: 2px;
}

.PP:hover{
  cursor: pointer;
  letter-spacing: 3.65px;
  transform:translate(0,-2px);
  transition: 1s;
}

.TC:hover{
  cursor: pointer;
  letter-spacing: 3.45px;
  transform:translate(0,-2px);
  transition: 1s;
}

.ABOUT:hover{
  cursor: pointer;
  letter-spacing: 4px;
  transform:translate(0,-2px);
  transition: 1s;
}

.footer_img{
  float:left;
  width:5%;
  margin: none;
  margin-left: 5%;
  margin-bottom: none;
  margin-right: 10px;
  padding-top: 45px;
  
}

.logos{
  float:left;
  width:30%;
}

.details{
  float:left;
  width:15%;
  color:whitesmoke;
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
}

.footer_img img:hover{
  box-shadow: whitesmoke;
  cursor: pointer;
  transform:translate(0,-10px);
  transition: 1s;
}

#footer_img_fb{
  border-radius: 50%;
  transition: 1s;
}

#footer_img_twitter{
  border-radius: 50%;
  transition: 1s;
}

#footer_img_insta{
  border-radius: 50%;
  transition: 1s;
}

.details{
  transition: 1s;
}

#footer_number{
  letter-spacing: 2px;
}

#footer_number:hover{
  cursor: pointer;
  letter-spacing: 5px;
  transform:translate(0,-2px);
  transition: 1s;
}

#footer_email{
  letter-spacing: 2px;
}

#footer_email:hover{
  cursor: pointer;
  letter-spacing: 5px;
  transform:translate(0,-2px);
  transition: 1s;
}

#footer_membership{
  letter-spacing: 2px;
}

#footer_membership:hover{
  cursor: pointer;
  letter-spacing: 4.5px;
  transform:translate(0,-2px);
  transition: 1s;
}
